.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 75%;
  margin: 0 auto;
}

.input-box {
  padding: 20px 25px;
  background-color: #F6F4FF;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
  border: none;
  flex-grow: 2;
  width: 100%;
  box-sizing: border-box;
}

.input-row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.input-half {
  flex: 1;
  position: relative;
}

.suffix-text {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #555;
}

.option-button {
  background-color: #F6F4FF;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 2;
  width: 100%;
  flex: 1;
}

.option-button input {
  display: none;
}

.option-button.active {
  background-color: #DFD8FE;
  border: 1px solid #9747FF;
}

.radio-wrapper,
.checkbox-wrapper {
  display: flex;
  gap: 15px;
  width: 100%;
}
